
img.coin {
    width: 0.8em;
    height: 0.8em;
    margin: 0em 0.3em 0em 0.3em;
    vertical-align: middle;
}

img.item {
    width: 3em;
    height: 3em;
    margin: 0.25em 0.75em 0.25em 0em;
}

table {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;    
    table-layout: fixed;  
    border-spacing: 0px;
}
th, td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

table.item-box {
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-top: 0.25em;
    width: 100%;
}

table.item-box tbody td:first-child {    
    padding-right: 0.8em;
}

table.item-box tbody td:nth-child(2) {    
    text-align: right;
}

div.item-box {    
    background-color: #f2f2f2;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0.75em 0.5em 0.75em;    
    max-width: 21em;
}

.item-name {
    font-size: 1.35em; 
}

.full-width {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.control-label--gem-alert, .form-group--gem-alert {
    margin-right: 1em;     
}

.icon-gem {
    background-image: url("images/gem.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.middle-vert {    
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}